<h2 class="text-success my-5">Rendelési tájékoztató</h2>
<p>Megrendelésed eljuttathatod hozzánk weboldalunkon, e-mailen vagy telefonon keresztül.</p>
<p>Ügyfélszolgálatunk rendelkezésedre áll: 8-20 óráig</p>
<h3 class="text-success text-decoration-underline">Rendelés leadásának határideje</h3>
<p class="text-danger fw-bold">Az adott napon 20 óráig leadott rendelést másnap 12 óráig szállítjuk ki.</p>

<h3 class="text-success text-decoration-underline">Fizetés</h3>
<p>Megrendelésed kifizetheted előre átutalással a rendelés napján 20 óráig vagy a futárnak a kiszállításkor.</p>
<p>Elfogadunk Ticket Restaurant meleg étkezési utalványt, valamint K&H, OTP, MKB SZÉP kártyát.</p>
<h3 class="text-success text-decoration-underline">Szállítás</h3>
<p class="text-danger fw-bold">Szállítási területek: Fejér megye</p>
<p>A szállítás díjtalan, az árak tartalmazzák a csomagolási költséget és az ÁFA-t.</p>
<p>A beérkezett megrendeléseket hétköznapokon 12 óráig szállítjuk ki.</p>
<h3 class="text-success text-decoration-underline">Rendelés lemondása, módosítása</h3>
<p class="text-danger fw-bold">A rendelés, lemondására vagy módosítására csak a rendelés leadásának napján 20 óráig van lehetőség.</p>

<h3 class="text-success text-decoration-underline">Biztonság</h3>
<p>Ételeink előállításakor, valamint azok szállítása közben is a legszigorúbban betartjuk a hatályos előírásokat.
    Élelmiszereink biztonságos fogyaszthatóságát nem tartósítószerekkel, hanem a főzés utáni gyors visszahűtéssel,
    valamint a megfelelő hőmérsékleten való tárolással, és szállítással biztosítjuk.
    A kötelező előírásoknál is szigorúbb élelmiszer-biztonsági rendszerünk (HACCP) megfelelő alkalmazását, minőségirányítási csapatunk folyamatosan felügyeli és biztosítja.</p>
<p>Egyszer használatos, mikrohullámú készülékben melegíthető dobozokban kerül kiszállításra az étel. Kérjük, az ételeket
    hűtőben tárold, és fogyasztás előtt alaposan melegítsd fel! A dobozok lebomló műanyagból készülnek, tisztított
    állapotban a szelektív hulladékgyűjtőkbe helyezhetőek.</p>
<h3 class="text-success text-decoration-underline">Adatvédelmi szabályzat</h3>